/* Lớp modal overlay */
.add-car-form-overlay {
    position: fixed; /* Gắn modal vào vị trí cố định */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
     /* Nền mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    margin-top: 80px; 
    // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);/* Đảm bảo modal xuất hiện trên cùng */
}

/* Form Thêm xe */
.add-car-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.add-car-form h3 {
    margin-bottom: 20px;
}

.add-car-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.add-car-form button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.add-car-form button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}

.add-car-form button:last-child {
    background-color: #bd2d23;
}
