.admin-dashboard {
    position: relative;
   // padding:  50px;
    display: flex;
    width: 94%;
    margin-top: 20px;
    margin-right: -68px;
}


.routes-container {
  
    background: #fff;
    //border: 1px solid #e4e5e7;
    border-radius: 2px;
    margin-left: 200px; /* Đảm bảo không bị che bởi Nav */
    //  padding: 20px;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Giữ phần nội dung ở trên */
    min-height: 100vh;

}
