.topnav {
  background-color: #fff;
  overflow: hidden;
  width: 250px;
  /* Đặt chiều rộng cố định cho menu */
  position: fixed;
  /* Đảm bảo menu luôn cố định ở bên trái màn hình */
  height: 100%;
  /* Chiều cao của thanh navigation bar chiếm toàn bộ chiều cao của màn hình */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  border-bottom: 1px solid grey;
  /* Sắp xếp các phần tử theo chiều dọc */
}

/* Style cho các liên kết trong navigation */
.topnav a {
  color: black;
  text-align: left;
  padding: 10px 16px;
  /* Giảm padding để khoảng cách giữa các liên kết nhỏ hơn */
  text-decoration: none;
  font-size: 17px;
  width: 100%;
  /* Đảm bảo các liên kết chiếm toàn bộ chiều rộng của menu */
  box-sizing: border-box;
  /* Đảm bảo padding không làm thay đổi chiều rộng của phần tử */
  display: block;
  /* Đảm bảo các liên kết chiếm toàn bộ chiều rộng */
  transition: background-color 0.3s ease;
  /* Thêm hiệu ứng cho màu nền khi hover */
  margin-left: 20px;
  padding-top: 10px;
  /* Thêm margin-top nhỏ để khoảng cách giữa các liên kết đồng đều hơn */
  border-bottom: 1px solid #ddd;
  /* Thêm border dưới mỗi ô */
}

/* Thay đổi màu sắc của liên kết khi hover */
.topnav a:hover {
  background-color: #fbfbfb;
  color: #5d92f1;
  /* Chuyển màu chữ sang xanh khi hover */
  border-left: 4px solid #5d92f1;
  /* Thêm border-left màu xanh khi hover */
}

.topnav a.active {
  background-color: #ddd;
  /* Màu nền cho liên kết đã click */
  color: #5d92f1;
  /* Màu chữ khi clicked */
  border-left: 4px solid #5d92f1;
  /* Border-left xanh khi clicked */
}