.App {
  text-align: center;
  position: relative; /* Để dễ dàng điều chỉnh vị trí các thành phần bên trong */
  margin-top: 70px;
  margin-left: 0; /* Điều chỉnh margin để phù hợp với cấu trúc layout */
  max-width: 100%; /* Giới hạn kích thước tối đa */
 padding: 20px;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  transition: transform 0.5s ease; /* Thêm hiệu ứng chuyển động mượt mà */
}

.App-logo:hover {
  transform: rotate(180deg); /* Khi hover, logo sẽ xoay */
}

.App-header {
  background-color: #e4e5e7;// #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: 212121;
  text-align: center; /* Đảm bảo nội dung được căn giữa */
  margin-right: -50px;
  margin-top: -20px;
}

.App-header h1 {
  font-size: 2.5em; /* Tăng kích thước tiêu đề */
  margin-bottom: 20px; /* Tạo khoảng cách dưới tiêu đề */
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #21a1f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Điều chỉnh giao diện khi màn hình nhỏ hơn */
@media screen and (max-width: 768px) {
  .App {
    margin-left: 0; /* Gỡ bỏ margin trái khi ở màn hình nhỏ */
    padding: 10px; /* Thêm khoảng cách xung quanh */
  }

  .App-header h1 {
    font-size: 1.8em; /* Giảm kích thước tiêu đề trên thiết bị di động */
    margin-bottom: 15px;
  }

  .App-logo {
    height: 8vmin; /* Giảm kích thước logo trên thiết bị di động */
  }
}

@media screen and (max-width: 480px) {
  .App-header h1 {
    font-size: 1.5em; /* Kích thước tiêu đề nhỏ hơn cho các màn hình cực nhỏ */
  }

  .App-logo {
    height: 7vmin; /* Điều chỉnh logo cho thiết bị rất nhỏ */
  }
}
